body {
  padding: 0;
  margin: 0;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
  min-width: 1200px;
  position: relative;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  overflow: hidden;
}
.top-wrapper {
  background-color: #293449;
}
.bottom-wrapper {
  background-color: #f4f7f9;
}
.container {
  width:940px;
  margin:0 auto;
}
.header-top {
  display:flex;
  justify-content: space-between;
}
.top-item {
  display: flex;
  justify-content: space-between;
}
.top-link:nth-child(2) {
  padding-right:10px;
}
.top-link {
  width:110px;
  padding:11px 20px;
  font-size:17px;
  line-height: 18px;
  color:#fff;
  text-align: center;
  position:relative;
}
.top-link svg {
  position:absolute;
  top:12px;
  left:9px;
}
.top-link.active {
  background-color: #63a63e;
}
.link-blue:hover,
.link-blue:focus {
  background-color: #212a3a;
  outline: none;
}
.link-blue:active {
  color:#a2a5a9;
  background-color: #161d29;
}
.link-blue:hover path,
.link-blue:focus path,
.link-blue:hover circle,
.link-blue:focus circle {
  fill:#fff;
}
.link-blue:active path,
.link-blue:active circle {
  fill:#8b8e94;
}
.link-green:hover,
.link-green:focus {
   background-color: #5fbb2d;
   outline: none;
}
.link-green:active {
  background-color: #518534;
  color:#aac39b;
}
.header-logo {
  font-size:24px;
  line-height: 24px;
  text-transform: uppercase;
  background-color: #ee3643;
  color:#fff;
  padding:9px 55px;
  margin-bottom:-5px;
  box-shadow: inset 0 -5px 2px 0 rgba(142,30,38,0.7);
}
.header-logo:hover,
.header-logo:focus {
  background-color: #ca2c37;
  outline: none;
}
.header-logo:active {
  background-color: #ba2732;
}
.search-field {
  border:none;
  background-color: #293449;
  font:inherit;
  font-size:17px;
  line-height: 18px;
  color:#fff;
  height:42px;
  width:280px;
  padding-left:48px;
}
.search-field:hover {
  background-color: #212a3a;
}
.search-field:focus {
  background-color: #fff;
  color:#000;
  outline: none;
}
.search-field:focus ~ .search-btn path {
  fill:#ee3643;
}
.search-field-container {
  position: relative;
}
.search-btn {
  position: absolute;
  top:12px;
  left:17px;
  background-color: transparent;
  border:none;
  cursor:pointer;
}
.intro-login {
  display:flex;
  justify-content: space-between;
  padding-top:30px;
}
.intro-wrapper {
  width:300px;
}
.login {
  text-align: right;
  margin-top:27px;
}
.about {
  width:200px;
  margin-left: 52px;
  margin-top:2px;
}
.contacts {
  text-align: center;
  margin-top:5px;
}
.about p {
  color:#ee434f;
  font-size:16px;
  line-height: 23px;
  font-style: italic;
  font-weight:400;
}
.intro-phone span {
  font-size: 21px;
  font-weight: 21px;
  color:#ee3643;
}
.intro-adress span {
  color:#32425c;
  font-size:14px;
  line-height: 24px;
}
.intro-phone {
  display:inline-block;
  padding-top:5px;
  padding-bottom:5px;
  padding-left:65px;
  padding-right:55px;
  border: 3px solid #fff;
  margin-top:15px;
  margin-left:28px;
  margin-bottom:0;
  position: relative;
}
.intro-phone svg {
  position:absolute;
  left:6px;
  top:7px;
}
.intro-adress {
  display:inline-block;
  margin:0;
  padding:0;
  padding-top:3px;
  padding-left:12px;
}
.button-login {
  color:#000;
  font-size:21px;
  line-height: 21px;
  background-color:#fff;
}
.enter {
  padding-top:12px;
  padding-bottom:10px;
  padding-right:17px;
  padding-left:50px;
  position: relative;
  margin-right: 10px;
}
.enter svg {
  position: absolute;
  left:18px;
  top:15px;
}
.button-login:hover,
.button-login:focus {
  color:#f0515c;
}
.enter:hover path,
.enter:focus path {
  fill:#32425c;
}
.button-login:active {
  color:#b2b2b2;
}
.enter:active path {
  fill:#c5c5c5;
}
.reg {
  padding: 10px 25px;
}
.main-navigation {
  background-color: #32425c;
  box-shadow: inset 0 -5px 1px 0 rgba(41,52,73,0.7);
  margin-top:25px;
  display: flex;
  flex-wrap: wrap;

}
.main-navigation-item {
  font-size: 17px;
  line-height: 17px;
  color:#fff;
  text-align: center;
  padding-top:20px;
  padding-bottom:22px;
  padding-left:30px;
  padding-right:30px;
}
.main-navigation-item:hover {
  background-color: #293449;
}
.main-navigation-item:active {
  color: #8e939c;
}
.main-navigation-item:first-child {
  padding-left:52px;
  padding-right:34px;
}
.main-navigation-item:last-child {
  padding-left:34px;
  padding-right:52px;
}
.offer-item h3 {
  font-size:24px;
  line-height:30px;
  color:#fff;
  margin:0;
  padding:0;
}
.offer-item a {
  font-size:14px;
  line-height: 18px;
  color:#fff;
  background: rgba(0, 0, 0, 0.1);
}
.first-offer {
  background-color: #ffbf47;
}
.second-offer {
  background-color:#3bbce3;
}
.third-offer {
  background-color:#dc91d8;
}
.fourth-offer {
  background-color:#8ed78f;
}
.fives-offer {
  background-color:#ffc047;
}
.slider-item-first {
  width:620px;
  height:266px;
  background-image: url('../img/drills.jpg');
}
.slider-inner {
  color:#fff;
}
.slider-inner h3 {
  font-size: 36px;
  line-height: 36px;
  margin:0;
  padding:0;
}
.slider-inner p {
  font-size:18px;
  line-height: 24px;
  margin:0;
  padding:0;
}
.open-catalog {
  color:#fff;
  font-size:14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
}
.slider-item-second {
  width:620px;
  height:266px;
  background-image: url('../img/perfos.jpg');
}
.popular-products-header-left h3 {
  font-size:30px;
  line-height: 30px;
  text-transform: uppercase;
  color:#32425c;
  margin:0;
  padding:0;
}
.popular-products-header-right a {
  color:#fff;
  text-transform: uppercase;
  font-size:14px;
  line-height: 18px;
  background-color: #ee3643;
}
.popular-products-list {
  list-style: none;
  margin:0;
  padding:0;
}
.popular-products-item {
  font-family: 'PT-sans',Arial,sans-serif;
}
.item-name {
  margin:0;
  padding:0;
  font-weight: bold;
  font-size:18px;
  line-height: 20px;
}
.old-price {
  text-decoration: line-through;
  font-size:17px;
  line-height: 18px;
  color:#a9a9a9;
  font-weight: bold;
}
.new-price {
  color:#fff;
  background-color: #ee3643;
  font-size:17px;
  line-height: 18px;
}
.popular-vendors-header-left h3 {
  font-size:30px;
  line-height: 30px;
  text-transform: uppercase;
  color:#32425c;
  margin:0;
  padding:0;
}
.popular-vendors-header-right a {
  color:#fff;
  text-transform: uppercase;
  font-size:14px;
  line-height: 18px;
  background-color: #ee3643;
}
.popular-vendors-list {
  margin:0;
  padding:0;
  list-style: none;
}
.slider-controls label {
  font-size:21px;
  line-height: 30px;
  color:#fff;
  background-color: #32425c;
}
.services h3 {
  font-size: 30px;
  line-height: 30px;
  margin:0;
  padding:0;
  text-transform: uppercase;
}
.services p {
  margin:0;
  padding:0;
}
.service-slider-inner {
  list-style: none;
  margin:0;
  padding:0;
}
.service-slider h4 {
  margin:0;
  padding:0;
  color:#32425c;
  font-size:36px;
  line-height: 36px;
  text-transform: uppercase;
}
.about-us h3 {
  font-size:30px;
  line-height: 30px;
  text-transform: uppercase;
  margin:0;
  padding:0;
}
.details b {
  font-size:18px;
  line-height: 20px;
}
.about-us p {
  margin:0;
  padding:0;
}
.button-au {
  color:#fff;
  background-color:#ee3643;
  font-size:14px;
  line-height: 18px;
  text-transform: uppercase;
}
.footer-top-wrapper {
  background-color: #32425c;
}
.footer-down-wrapper {
  background-color: #293449;
}
.footer-logo {
  font-size:30px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: #ee3643;
  color:#fff;
}
.footer-navigation {
  font-size:18px;
  line-height: 24px;
  color:#f3f7f8;
}
.footer-up-menu {
  list-style: none;
  margin:0;
  padding:0;
}
.footer-item-adress p {
  margin:0;
  padding:0;
}
.footer-menu-down {
  list-style: none;
  margin:0;
  padding:0;
  color:#ffd180;
}
.page-footer {
  color:#fff;
  font-size:16px;
  line-height: 18px;
}
.social-list {
  list-style: none;
  margin:0;
  padding:0;
}
.feedback b,
.developer b {
  color:#d4b275;
}
.user-name {
  font-size:21px;
  line-height: 21px;
}
.user-button {
  color:#32425c;
  box-shadow: 0 2px #49586f;
  font-size:16px;
  line-height: 18px;
}
.breadcumb {
  font-size:13px;
  line-height: 18px;
  color:black;
  text-transform: uppercase;
}
.filters-caption {
  background-color: #f2f6f8;
}
.filters-caption h2 {
  color:#32425c;
  font-size:30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
  margin:0;
  padding:0;
}
.options {
  font-family: 'PT-sans',Arial,sans-serif;
}
.form-caption {
  background-color: #f7f3ec;
}
.form-caption h3 {
  font-size:13px;
  font-weight:18px;
  font-weight: 700;
  text-transform: uppercase;
  margin:0;
  padding:0;
}
.range-form {
  border:none;
  margin:0;
  padding:0;
}
.options legend {
  font-size:17px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
  margin:0;
  padding:0;
}
.price-controls input {
  font-size:17px;
  line-height:18px;
}
.vendors-form,
.power-form  {
  border:none;
  margin:0;
  padding:0;
  font-size:15px;
  line-height: 20px;
  text-transform: uppercase;
}
.button-show {
  font-size:13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: transparent;
  border:2px solid #e5e5e5;
}
.sorting-list {
  list-style: none;
  margin:0;
  padding:0;
}
.sorter-head b {
  font-size:13px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: normal;
}
.product-list {
  list-style: none;
  margin:0;
  padding:0;
}
.sorter-name a {
  color:#acaaa5;
  font-size:13px;
  line-height: 18px;
  text-transform: uppercase;
}
.sorter-name a.active {
  color:#ee3643;
}
.hover-button {
  font-size:14px;
  line-height: 18px;
  text-transform: uppercase;
}
.in-cart {
  color:#fff;
  background-color:#63a63e;
  padding:3px;
}
.in-bookletter {
  color:#32425c;
  border:3px solid #63a63e;
}
.page-number {
  font-size:13px;
  line-height: 18px;
  text-transform: uppercase;
  border:1px solid #e5e5e5;
  color:black;
}
.page-number.active {
  color:#fef2f2;
  border:none;
  background-color: #ee3643;
  padding:1px;
}
.about-device h3 {
  margin:0;
  padding:0;
  font-weight: normal;
  text-transform: uppercase;
}
.about-device p {
  padding:0;
  margin:0;
}
